<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav</title>
    <link rel="stylesheet" href="about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>
        <div class="navWrappper_about ">
            <h1 class="Home_page_Link">
                <a href="/">
                    Gaurav

                </a>
            </h1>


            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/Skills">Skills</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="/Contactus">Contact Us</a></li>
                </ul>
            </nav>
            <div class="header-social-links">

                <a href="#" class="https://twitter.com/GauravK80254652"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="https://www.instagram.com/kr_gaurav01/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/gaurav-kumar-5190a320a/" class="linkedin"><i
                        class="fa fa-linkedin"></i></i></a>
            </div>
        </div>
        <section id="about_Wrapper">
            <div class="about">
                <h1>About</h1>
            </div>
            <div class="someWord">
              <p>My name is Gaurav Kumar . I am currently purshing my graduation in BCA from Bihar University , which is in Bihar 
                . I basically from Muzaffarpur , Bihar , India . My Skills is about coding , there are the language that i know and also work in this language
                These language are - C , C++, Java , phtyhon. 

              </p>

            </div>
            <div class="details_Container">
                <div class="leftDetails_container">
                    <img src="./Image/pic.jpg" alt="A Portfolio image">
                </div>
                <div class="RighDetails_container">
                    <div class="rightheading">
                        <h1>Web developer & software developer </h1>
                        <p>I am a frontend Web Developer and i know how to build a static website .
                            I know how to build a website on React Js.
                        </p>
                    </div>
                    <div class="DetailsSection">
                        <div class="Content">
                            <h2>Birthday : <span>25 June 2001 </span></h2>
                            <h2>Website : <span>www.exaple.com </span></h2>
                            <h2>Phone : <span> 9128937435 </span></h2>
                            <h2>City : <span> Muzaffarpur , Bihar , India </span></h2>
                        </div>
                        <div class="Content">
                            <h2>Age : <span>21 </span></h2>
                            <h2>Degree : <span>Bachlor </span></h2>
                            <h2>Email : <a href="">gauravkumar1raj@gmail.com </a></h2>
                            <h2>Freelance: <span>Available </span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
<div class="bottomNav">
    
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/Skills">Skills</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="/Contactus">Contact Us</a></li>
                </ul>
            </nav>
</div>
    </main>
</body>

</html>