<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
              <div class="navWrappper">
         <h1 class="Home_page_Link">
            <a href="/">
                Gaurav

            </a> </h1>

        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/Skills">Skills</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="/Contactus">Contact Us</a></li>
            </ul>
        </nav>
        <div class="header-social-links">
            <a href="#" class="https://twitter.com/GauravK80254652"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="https://www.instagram.com/kr_gaurav01/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/gaurav-kumar-5190a320a/" class="linkedin"><i class="fa fa-linkedin"></i></i></a>
          </div>
    </div>
     <div class="Contactmain">
        <div class="title">Want To Talk?</div>
        <div class="formsection">
        <div class="ContactLeftSection">

       <div class="Box">
       <div class="icons">
       <i class="fa fa-check"></i>
       </div>
       <div class="detailsContact">
       <h2>Hire me</h2>
       <p>if you have a project where you need my help .</p>
       </div>
       </div>
       <div class="Box">
       <div class="icons">
       <i class="fa fa-check"></i>
       </div>
       <div class="detailsContact">
       <h2>Colloborate</h2>
       <p>Want to build something together and have fun as well? </p>
       </div>
       </div>
      <div class="Box">
      <div class="icons">
      <i class="fa fa-check"></i>
      </div>
      <div class="detailsContact">
      <h2>Just Talk</h2>
      <p>
      
      Just talk
      Want to talk design, coding,  product development? Ping me!</p>
      </div>
      </div>
      </div>
        <div class="ContactRightSection">
        <form action="/" method="post">
        <h2> Name <br /> <input type="text" name='Name' /></h2>
        <h2> Email <br /> <input type="email" name="Email" required /></h2>
        <h2> Phone no. <br /> <input type="number" name="phoneNumber" required /></h2>
        <h2> Message <br /> <textarea name="Message" id="" cols="30" rows="10"></textarea></h2>
        <input type="submit" value="submit" />
        </form>
        </div>
        </div>
        
        </div> 
        <div class="bottomNav">
    
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/Skills">Skills</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="/Contactus">Contact Us</a></li>
                </ul>
            </nav>
</div>
    </main>
    
</body>
</html>