<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    Gaurav
    </title>
    <link rel="stylesheet" href="style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body>
    <main>
        <div class="navWrappper">
         <h1 class="Home_page_Link">
            <a href="/">
                Gaurav

            </a> </h1>

        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/Skills">Skill</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="/Contactus">Contact Us</a></li>
            </ul>
        </nav>
        <div class="header-social-links">
             <a href="#" class="https://twitter.com/GauravK80254652"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="https://www.instagram.com/kr_gaurav01/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/gaurav-kumar-5190a320a/" class="linkedin"><i class="fa fa-linkedin"></i></i></a>
          </div>
    </div>
    <section>
        <h1>Gaurav Kumar</h1>
        <p>I am a Frontend Web Developer </p>
        <a href="./about">About me</a>
    </section>
    <div class="bottomNav">
    
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/Skills">Skills</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="/Contactus">Contact Us</a></li>
                </ul>
            </nav>
</div>
    </main>
    
</body>
</html>