<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaurav </title>
      <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
            <div class="navWrappper">
         <h1 class="Home_page_Link">
            <a href="/">
                Gaurav

            </a> </h1>

        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/skills">Skills</a></li>
                <li><a href="#">Project</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="/Contactus">Contact Us</a></li>
            </ul>
        </nav>
        <div class="header-social-links">
            <a href="#" class="https://twitter.com/GauravK80254652"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="https://www.instagram.com/kr_gaurav01/"><i class="fa fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/gaurav-kumar-5190a320a/" class="linkedin"><i class="fa fa-linkedin"></i></i></a>
          </div>
    </div>
    
     <div id="skillsSection_main">
        <div class="titleBox">
            <h1>My Skills</h1>
        </div>
        <div class="card_section">

            <div class="card">
                <img src="Image//java.png" alt="Code Picturesd"/>
                <h2>Java </h2>
                <p>I know very very well how to <br> write  code in java</p>

            </div>
            <div class="card">
                <img src="Image//web.jpg" alt="Code Picturesd" />
                <h2>Front-end Development </h2>
                <p>I am always excited  about creating frontend website using HTML, CSS, JAVASCRIPT</p>

            </div>
            <div class="card">
                <img src="Image/logo192.png" alt="Code Picturesd" />
                <h2>React js </h2>
                <p>I am using ReactJs Framework for frontend Development</p>

            </div>
            
            <div class="card">
                <img src="Image/c.png" alt="Code Picturesd" />
                <h2> c++  </h2>
                <p> I am good in doing codin in c++ </p>

            </div>
               <div class="card">
                <img src="Image/c.png" alt="Code Picturesd" />
                <h2> Data Structure   </h2>
                <p> I will work on the dsa project in efficeint way  </p>

            </div>



        </div>

    </div>
    <div class="bottomNav">
    
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/Skills">Skills</a></li>
                    <li><a href="#">Project</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="/Contactus">Contact Us</a></li>
                </ul>
            </nav>
</div>
    </main>
            
  
</body>
</html>